services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - /var/lib/postgresql/18/docker
    ports:
      - '5432:5432'
  selenium_chrome:
    image: seleniarm/standalone-chromium:latest
    ports:
      - "4444:4444"
    shm_size: '2gb'
  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    env_file:
      - ./back/.env
    volumes:
      - ./back:/app
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    depends_on:
      - db
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    environment:
      TZ: Asia/Tokyo
      SELENIUM_DRIVER_URL: http://selenium_chrome:4444/wd/hub
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - ./front:/app
      - ./front/node_modules:/app/node_modules
    command: npm run dev -- --host
    ports:
      - "8000:5173"
volumes:
  db:
    driver: local
